# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**
+ How to crate a Notebook
+ List popular languages used by Data Scientists
+ Know how to create a table
+ Practice the differences between markdown cells and code cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java Script

Some of the commonly used libraries used by Data Scientist are: 
1. Pandas
2. Numpy
3. MatPlot
4. Seaborn

|Data Science Tools|
|------|
|Jupyter|
|R-Studio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This operation will convert hours to minutes, by dividing by 60. 
200/60

3.3333333333333335

## Author
Janeth Vargas